
body {
    background:rgba(3, 48, 4, 0.4)
}

.row {
    height: 250px;
    color: black;
}

/*applied style to form group*/
#form-group {
    font-size: 40px;
}

/* removed card-body */
/*added padding*/
.img-thumbnail {
    padding: 0%;
    border: 10px solid rgba(3, 48, 4, 0.4);
    margin: left 10px;




