
body {
    background:rgba(3, 48, 4, 0.4)
}

.row {
    color: rgb(2, 1, 1)
}
/*applied style to form group*/
#form-group {
    font-size: 40px;
    font-
}
/*applied style to form group*/
.form-group {
    font-size: 25px;
}